/* Necessary for full page carousel*/
html,
body,
.view {
	height: 100%;
}

/* Carousel*/

.carousel-viewport.carousel,
.carousel-viewport .carousel-item,
.carousel-viewport .active {
	height: 100%;
}

.carousel-viewport .carousel-inner {
	height: 100%;
}

.carousel-viewport .carousel-item:nth-child(1) {
	background-image: url("https://mdbootstrap.com/img/Photos/Others/img%20(50).jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-viewport .carousel-item:nth-child(2) {
	background-image: url("https://mdbootstrap.com/img/Photos/Others/img%20(41).jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-viewport .carousel-item:nth-child(3) {
	background-image: url("https://mdbootstrap.com/img/Photos/Others/img%20(49).jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*Caption*/
.flex-center {
	color: #fff;
}

@media (min-width: 776px) {
	.carousel-viewport .view ul li {
		display: inline;
	}
	.carousel-viewport .view .full-bg-img ul li .flex-item {
		margin-bottom: 1.5rem;
	}
}

.badge {
	padding: .26em .4em;
	vertical-align: bottom;
}

.badge-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 0;
}

main {
	margin-top: 3rem;
}

section > h1 {
	margin-bottom: 3rem;
}

section ~ section {
	margin-top: 3rem;
	padding-top: 2rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}